body {
  font-size: 14px;
  color: #333;
  letter-spacing: 2px;
  background-color: #fff;
}
.loader{
  width:100%;
  height:100%;
  background-color: #fff;
  position: fixed;
  top:0px;
  left:0px;
  z-index:1000;
}

.loader .inner{
  width:100%;
  height:100%;
  background: url(../img/loader.gif) center center no-repeat;
}
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
}
.titleMessage{
  position:absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
}

.titleMessage .heading p{
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
  letter-spacing: 7px;
}

.titleMessage .heading .main{
  font-size: 60px;
  font-weight: 300;

}
.titleMessage .heading .sub{
  color:#7f8c8d;
  font-size: 20px;
  font-weight: 200;
}

.titleMessage .resume{
  font-size: 25px;
  text-align: center;
}

.slides-navigation {
  z-index: 6;
}
.slides-navigation .next,
.slides-navigation .prev {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}
.slides-navigation a.next{
  right: 20px;
  background-image: url(../img/icons/next.png);
}

.slides-navigation a.prev{
  left: 20px;
  background-image: url(../img/icons/prev.png);
}

#navigation {
	background-color: #16a085;
    padding: 20px 10px;
    z-index: 100;
    width:100%
}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
	color: #000;
}

.navbar-brand,
.navbar-brand:hover {
	color: #000;
}


.navbar-toggler-icon {
	background: url(../img/icons/menu.png);
	background-size: 100%;
}

.fixedNav #navigation{
  position:fixed;
  top:0;
}

.section{
  padding: 70px 0;
}

.aboutImage{
  text-align:center;
}
.aboutImage .image{
  width:500px;
  height:auto;
}
.aboutMe h1{
  color: #16a085;
  text-align: center;
  padding:15px 0px 15px;
}

.aboutMe p{
  font-size: 20px;
  font-weight: 300;
}
.aboutsection,
.projectsection{
  background: url(../about.svg);
}
.skillsection,
.contactsection{
  color: #fff;
  background: url(../skills.svg);
}

.skill {
  text-align: center;
  margin-left: 10px;
}
.chart{
  position:relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left:0;
  top:0;
}

.percent{
  color: #000;
  line-height: 152px;
  display:inline-block;
  font-size: 35px;
}

.chart .percent:after{
  content:"%";
}

.filter a{
  color:#95a5a6;
  border: 1px solid #95a5a6;
  padding: 10px 18px;
  display: block;
}

.filter li{
  display: inline-block;
  padding: 5px;
}

.filter ul{
  padding:5px;
}

.filter .current{
  background-color: #16a085;
  border-color: #16a085;
  color: #fff;
}

.filter{
  text-align: center;
  width: 100%;
}

.section .heading{
  text-align: center;
  padding-bottom: 10px;
  width:100%;
}
.items li {
  display: inline-block;
  padding: 5px;

}
.itemsContainer{
  width:100%;
}
.items li img {
  width:100%;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}
.items .item{
    position:relative;
    display: block;
    overflow: hidden;
}
.items .icons{
  position:absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top:50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}
.items i{
  color:#fff;
  font-size: 20px;
  margin-top: 9px;
}

.items a{
  width: 40px;
  height: 40px;
  background-color: #16a085;
  position : relative;
  display:inline-block;

  -webkit-transition: all 0.2s linear, 0.4s;
  -moz-transition: all 0.2s linear, 0.4s;
  -o-transition: all 0.2s linear, 0.4s;
  -ms-transition: all 0.2s linear, 0.4s;
  -transition: all 0.2s linear, 0.4s;
}

.items .imageOverlay{
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  left:0px;
  top:0px;
  opacity:0;

  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;

}

.items .item:hover .imageOverlay{
  opacity:1;
}

.items .openButton{
  float: left;
  left:-200px;
}

.items .projectLink{
  float: right;
  right: -200px;
}

.items .item:hover .openButton{
  left:0px;
}

.items .item:hover .projectLink{
  right:0px;
}

.items .item:hover img{
  -webkit-transform: scale(1.05,1.05);
  -moz-transform: scale(1.05,1.05);
  -o-transform: scale(1.05,1.05);
  -ms-transform: scale(1.05,1.05);
  -transform: scale(1.05,1.05);
}
.items{
  padding: 0;
}

.clearfix .para1{
  text-align: center;
  padding: 2px 1px;
}
.clearfix .para2{
  text-align: center;
  padding: 2px 3px;
}
.clearfix .para3{
  text-align: center;
  padding: 2px 10px;
}
.clearfix .para4{
  text-align: center;
  padding: 2px 20px;
}
.clearfix .para5{
  text-align: center;
  padding: 2px 1px;
}
.clearfix .para6{
  text-align: center;
  padding: 2px 1px;
}
.clearfix{
  color:#000;
}
.clearfix :: after{
  content:"";
  clear:both;
  display:table;
}

.projectsection h1{
  color: #16a085;
}

.resumeButton{
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  margin-top: 20px;
}

.contactbutton{
  color: #fff;
  padding: 10px 10px;
  display: inline-block;
  margin-top: 1px;
}
.linkedin,.git,.insta{
  display:inline-block;
  padding: 10px 10px;
  margin-top: 1px 10px;
}
.contactsection i{
  font-size: 25px;
}
.contactsection li{
    display: inline-block;
    text-decoration: none;
    border-bottom: none;
    padding: 10px;
}
.contactsection ul{
  padding:0px 5px 0px;
  margin:0px;
}

.contactsection .container{
  padding
}

.contactbutton:hover{
  text-decoration: none;
  color:#16a085;
  background-color: #fff;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}
.resumeButton:hover{
  text-decoration: none;
  color:#16a085;
  background-color: #fff;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}
.linkedin:hover{
  text-decoration: none;

  background-color: #0072b1;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}
.git:hover{
  text-decoration: none;

  background-color: #7DBBE6;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}
.insta:hover{
  text-decoration: none;

  background-color:#bc2a8d;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}

.copyrightsection{
  background-color:#B5BDBB;
  padding:50px 0px;
}
